<product-form>
  <div class="main-product__buy-buttons-wrapper">
    <button class="main-product__buy-button" data-buy-button="add-to-cart">
      {{ 'products.add_to_cart' | t }}
    </button>
  </div>
</product-form>
