.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.header__menu {
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: flex-start;
}

.header__icons {
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: flex-end;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}