.main-product__product-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--color-cod-gray);
  border-top: none;
}

.main-product__product-gallery {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
  border-right: 1px solid var(--color-cod-gray);
}

.main-product__product-gallery {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.main-product__product-gallery-main {
  text-align: center;
}

.main-product__product-gallery-main-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.main-product__product-gallery-thumbs-wrapper {
  padding: 10px 0;
}

.main-product__product-gallery-thumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  padding: 0 10px 10px 10px;
}

.main-product__product-gallery-thumb {
  width: 115px;
  height: auto;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: all 0.3s;
}

.main-product__product-gallery-thumb:hover,
.main-product__product-gallery-thumb--active {
  opacity: 1;
  border-color: #000;
}

.main-product__product-info {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 40px;
}

.main-product__product-category {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  line-height: 1.2;
  letter-spacing: 0.025;
  color: var(--color-cod-gray);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.main-product__product-category-title {
  color: var(--color-gray);
}

.main-product__product-title {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-38);
  line-height: 1.2;
  letter-spacing: 0;
  vertical-align: middle;
  color: var(--color-cod-gray);
  margin-bottom: 16px;
}

.main-product__product-description {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: 1.4;
  letter-spacing: 0;
  vertical-align: middle;
  color: var(--color-cod-gray-90);
  margin-bottom: 24px;
}

.delivery-and-returns {
  border: 1px solid var(--color-mercury);
  padding: 17px;
  border-radius: 14px;
}

.delivery-and-returns__item {
  display: flex;
  flex-direction: row;
}

.delivery-and-returns__title {
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-700);
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-cloud-brust);
  margin-bottom: 7px;
}

.delivery-and-returns__item:not(:last-child) {
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid var(--color-mercury);
}

.delivery-and-returns__icon {
  flex: 0 0 24px;
  max-width: 24px;
}

.delivery-and-returns__content-wrapper {
  flex: 1;
  margin-left: 14px;
}

.delivery-and-returns__content {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-dover-gray);
}

.delivery-and-returns__content a {
  color: var(--color-dover-gray);
  text-decoration: underline;
}

.delivery-and-returns__content a:hover {
  color: var(--color-cloud-brust);
  text-decoration: underline;
}

.main-product__quantity-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.main-product__quantity-selector-label {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: 1.4;
  letter-spacing: 0;
  vertical-align: middle;
  color: var(--color-cod-gray);
}

.main-product__quantity-selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-product__quantity-selector-button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-cod-gray);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-cod-gray);
}

.main-product__quantity-selector-button .icon {
  width: 20px;
  height: 20px;
}

.main-product__quantity-selector-button:hover {
  background: var(--color-cod-gray);
  color: var(--color-white);
}

.main-product__quantity-selector-input {
  border: none;
  border-top: 1px solid var(--color-cod-gray);
  border-bottom: 1px solid var(--color-cod-gray);
  padding: 0 16px;
  width: 64px;
  height: 44px;
  border-radius: 0;
  text-align: center;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: 1.4;
  letter-spacing: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  color: var(--color-cod-gray);
}

.main-product__quantity-selector-input:hover,
.main-product__quantity-selector-input:focus {
  outline: none;
  border-color: var(--color-cod-gray);
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.main-product__quantity-selector-input::-webkit-outer-spin-button,
.main-product__quantity-selector-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-product__quantity-selector-input[type='number'] {
  -moz-appearance: textfield;
}

.main-product__variant-picker {
  margin-bottom: 40px;
}

.main-product__variant-picker-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #999;
}

.main-product__variant-picker-options {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.main-product__variant-picker-swatch {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: var(--swatch-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.main-product__variant-picker-swatch--active {
  width: 64px;
  height: 64px;
}

.main-product__variant-picker-swatch-image {
  width: 64px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

.main-product__variant-picker-swatch-checkmark .icon {
  color: var(--color-white);
  width: 30px;
  height: 20px;
}

.main-product__variant-picker-swatch--active .main-product__variant-picker-swatch-checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 57.5px;
  height: 57.5px;
  border: 3px solid var(--color-white);
  border-radius: 100%;
}

.main-product__variant-picker-swatch--active .main-product__variant-picker-swatch-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-product__buy-buttons-wrapper {
  margin-bottom: 40px;
}

.main-product__buy-button {
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  background: var(--color-cod-gray);
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 1.2;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.main-product__buy-button:hover {
  background: var(--color-cloud-brust);
}